@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";

/* for dark */

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Customization */
@layer base {
  /* Background color for light mode */
  body {
    background-color: white;
    color: #333;
  }

  /* Dark Mode Background and Text */
  .dark body {
    background-color: #1a202c;
    color: #f7fafc;
  }

  /* Apply dark mode styles to components */
  .dark .bg-white {
    background-color: #2d3748; /* Dark background for white elements */
  }

  .dark .text-gray-900 {
    color: #f7fafc; /* Light text for dark mode */
  }
}
